.Shine
{
    animation: typing 1s ease;
    font-size: 18px;
    color: red;
}
@keyframes typing {
    from{
        letter-spacing: -20px;
        color: white;
    }
    to{
        letter-spacing: 1;
        color: red;
    }
}
.Vain
{
    color: whitesmoke;
}

/* .Shine {
    position: relative;
    transform: translate(-50%, -50%);
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    white-space: nowrap;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
   */