::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

.item{
  color: blueviolet;
  font-size: large;
  background-color: yellow;
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 5000ms ease-in;
  }

  .GlitchingEffect{
    opacity: 0;
    transition: all 2s ease;
    /* animation: Glitch .2s ease; */
    /* filter: drop-shadow(3px 13px 10px green); */
  }
  /* @keyframes Glitch {
    50%{
      transform: translateY(100px) translateX(100px);
    }
  } */